---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=biggins%40hotmail.com&source=tok_1CDJtXIcRgydQIvR57cN6EmW
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CcZ1E4Dwe0nTs7",
          "object": "customer",
          "account_balance": 0,
          "created": 1522880155,
          "currency": null,
          "default_source": "card_1CDJtXIcRgydQIvRO1IbM7rg",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "biggins@hotmail.com",
          "invoice_prefix": "C7430BB",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CDJtXIcRgydQIvRO1IbM7rg",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "98112",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CcZ1E4Dwe0nTs7",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "Hytx7AQsQDPpePyZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CcZ1E4Dwe0nTs7/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CcZ1E4Dwe0nTs7/subscriptions"
          }
        }
  recorded_at: Wed, 04 Apr 2018 22:15:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&customer=cus_CcZ1E4Dwe0nTs7&description=Sign+up+charge+for+biggins%40hotmail.com
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CDJtYIcRgydQIvRSeowKrBd",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CDJtYIcRgydQIvRl1rTqDEr",
          "captured": true,
          "created": 1522880156,
          "currency": "usd",
          "customer": "cus_CcZ1E4Dwe0nTs7",
          "description": "Sign up charge for biggins@hotmail.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CDJtYIcRgydQIvRSeowKrBd/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CDJtXIcRgydQIvRO1IbM7rg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "98112",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CcZ1E4Dwe0nTs7",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "Hytx7AQsQDPpePyZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 04 Apr 2018 22:15:57 GMT
recorded_with: VCR 2.9.3
