---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=biggins%40hotmail.com&source=tok_1CFwwEIcRgydQIvRjPxutBFa
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CfHVsx5NBbQaig",
          "object": "customer",
          "account_balance": 0,
          "created": 1523506894,
          "currency": null,
          "default_source": "card_1CFwwEIcRgydQIvRWKONPyu7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "biggins@hotmail.com",
          "invoice_prefix": "8E1B79D",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CFwwEIcRgydQIvRWKONPyu7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "98112",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CfHVsx5NBbQaig",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "Hytx7AQsQDPpePyZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CfHVsx5NBbQaig/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CfHVsx5NBbQaig/subscriptions"
          }
        }
  recorded_at: Thu, 12 Apr 2018 04:21:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: US-ASCII
      string: customer=cus_CfHVsx5NBbQaig&items[0][plan]=plan_CenYtY4sih2FUJ
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CfHVZnMA2AV9iK",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1523506895,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1523506895,
          "current_period_end": 1526098895,
          "current_period_start": 1523506895,
          "customer": "cus_CfHVsx5NBbQaig",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CfHVbSyi2JAoSV",
                "object": "subscription_item",
                "created": 1523506895,
                "metadata": {},
                "plan": {
                  "id": "plan_CenYtY4sih2FUJ",
                  "object": "plan",
                  "amount": 999,
                  "billing_scheme": "per_unit",
                  "created": 1523395472,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "myflix_basic",
                  "product": "prod_CenXjE0wAUYJcF",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_CfHVZnMA2AV9iK"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CfHVZnMA2AV9iK"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "plan_CenYtY4sih2FUJ",
            "object": "plan",
            "amount": 999,
            "billing_scheme": "per_unit",
            "created": 1523395472,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "myflix_basic",
            "product": "prod_CenXjE0wAUYJcF",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "start": 1523506895,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Thu, 12 Apr 2018 04:21:36 GMT
recorded_with: VCR 2.9.3
