---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=biggins%40hotmail.com&source=tok_1CCwcsIcRgydQIvRr1Xmvqgm
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Tue, 03 Apr 2018 21:25:12 GMT
recorded_with: VCR 2.9.3
