---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1CFUPYIcRgydQIvRbiMMurAN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1CFUPYIcRgydQIvRbiMMurAN",
          "object": "event",
          "api_version": "2018-02-28",
          "created": 1523397236,
          "data": {
            "object": {
              "id": "ch_1CFUPXIcRgydQIvRu51ypDxp",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1CFUPXIcRgydQIvRoUH1nofk",
              "captured": true,
              "created": 1523397235,
              "currency": "usd",
              "customer": "cus_Ceo1FxosmdF621",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1CFUPXIcRgydQIvRMg0Dv7tO",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1CFUPXIcRgydQIvRu51ypDxp/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1CFUPWIcRgydQIvRc6eHNnyz",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "98112",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Ceo1FxosmdF621",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "Hytx7AQsQDPpePyZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "1 month of myflix",
              "status": "succeeded",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": {
            "id": "req_lbcavWsYy7ftPf",
            "idempotency_key": null
          },
          "type": "charge.succeeded"
        }
  recorded_at: Wed, 11 Apr 2018 19:40:52 GMT
recorded_with: VCR 2.9.3
