---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2030&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CCYsKIcRgydQIvRQNgha9xA",
          "object": "token",
          "card": {
            "id": "card_1CCYsJIcRgydQIvRxEPa5ZvX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2030,
            "fingerprint": "Hytx7AQsQDPpePyZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.18.138.0",
          "created": 1522699412,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 02 Apr 2018 20:03:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=yahoo%40yahoo.com&source=tok_1CCYsKIcRgydQIvRQNgha9xA
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CbmRtZ2KqbPfEC",
          "object": "customer",
          "account_balance": 0,
          "created": 1522699412,
          "currency": null,
          "default_source": "card_1CCYsJIcRgydQIvRxEPa5ZvX",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "yahoo@yahoo.com",
          "invoice_prefix": "0497411",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CCYsJIcRgydQIvRxEPa5ZvX",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CbmRtZ2KqbPfEC",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2030,
                "fingerprint": "Hytx7AQsQDPpePyZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CbmRtZ2KqbPfEC/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CbmRtZ2KqbPfEC/subscriptions"
          }
        }
  recorded_at: Mon, 02 Apr 2018 20:03:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&customer=cus_CbmRtZ2KqbPfEC
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CCYsLIcRgydQIvR031L5Zmu",
          "object": "charge",
          "amount": 300,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CCYsLIcRgydQIvRDJ7qheBz",
          "captured": true,
          "created": 1522699413,
          "currency": "usd",
          "customer": "cus_CbmRtZ2KqbPfEC",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CCYsLIcRgydQIvR031L5Zmu/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CCYsJIcRgydQIvRxEPa5ZvX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CbmRtZ2KqbPfEC",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2030,
            "fingerprint": "Hytx7AQsQDPpePyZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Mon, 02 Apr 2018 20:03:33 GMT
recorded_with: VCR 2.9.3
