---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: US-ASCII
      string: customer=abcd&items[0][plan]=plan_CenYtY4sih2FUJ
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes#resource-missing",
            "message": "No such customer: abcd",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 11 Apr 2018 17:34:50 GMT
recorded_with: VCR 2.9.3
