---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1CFweKIcRgydQIvRCRK8693i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1CFweKIcRgydQIvRCRK8693i",
          "object": "event",
          "api_version": "2018-02-28",
          "created": 1523505784,
          "data": {
            "object": {
              "id": "ch_1CFweKIcRgydQIvRqHhWklx9",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1523505784,
              "currency": "usd",
              "customer": "cus_CfHCRrYi2FMzxo",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "declined_by_network",
                "reason": "generic_decline",
                "risk_level": "normal",
                "seller_message": "The bank did not return any further details with this decline.",
                "type": "issuer_declined"
              },
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1CFweKIcRgydQIvRqHhWklx9/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1CFweIIcRgydQIvRH3MuW2Ad",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "98112",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CfHCRrYi2FMzxo",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "Dwqj8Opx4Cf72PO3",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "1 month of myflix",
              "status": "failed",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": {
            "id": "req_pZLWqdf5BGSXVk",
            "idempotency_key": null
          },
          "type": "charge.failed"
        }
  recorded_at: Thu, 12 Apr 2018 21:42:35 GMT
recorded_with: VCR 2.9.3
