---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2030&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CFS5qIcRgydQIvRiTYPthpS",
          "object": "token",
          "card": {
            "id": "card_1CFS5qIcRgydQIvRkJiHaA7t",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2030,
            "fingerprint": "Cf7qhy8hlAKB1Fo5",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.18.138.0",
          "created": 1523388326,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 10 Apr 2018 19:25:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=yahoo%40yahoo.com&source=tok_1CFS5qIcRgydQIvRiTYPthpS
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes#card-declined",
            "message": "Your card was declined.",
            "param": "",
            "type": "card_error"
          }
        }
  recorded_at: Tue, 10 Apr 2018 19:25:27 GMT
recorded_with: VCR 2.9.3
