---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2030&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CFSQvIcRgydQIvR67fhxwkg",
          "object": "token",
          "card": {
            "id": "card_1CFSQvIcRgydQIvRrcVejdGV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2030,
            "fingerprint": "Hytx7AQsQDPpePyZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.18.138.0",
          "created": 1523389633,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 10 Apr 2018 19:47:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_1CFSQvIcRgydQIvR67fhxwkg
    headers:
      Authorization:
      - Bearer sk_test_B3GmbKgT72FmPeG7QkvTvD8k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CelysNAoCrK6gI",
          "object": "customer",
          "account_balance": 0,
          "created": 1523389634,
          "currency": null,
          "default_source": "card_1CFSQvIcRgydQIvRrcVejdGV",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "17BAB6E",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CFSQvIcRgydQIvRrcVejdGV",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CelysNAoCrK6gI",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2030,
                "fingerprint": "Hytx7AQsQDPpePyZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CelysNAoCrK6gI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CelysNAoCrK6gI/subscriptions"
          }
        }
  recorded_at: Tue, 10 Apr 2018 19:47:14 GMT
recorded_with: VCR 2.9.3
